<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>A Post-Minkowskian Framework and the Boundary-To-Bound Dictionary for Gravitational Dynamics</title>
    
    <meta name="description" content="Presentation Slides made with impress.js" />
    <meta name="author" content="Gregor Kaelin" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
      "HTML-CSS": {
	  scale: 90,
	  styles: {
      '.MathJax_Display': {
      "margin": "20px 0"
      }
      }
	  },
	  TeX: { extensions: ["color.js"] },
	  });
	</script>
	<script type="text/javascript" src="extras/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <link href="css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  </head>

  <body class="impress-not-supported">

	<div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	  <p>
		$$
		\definecolor{desyOrange}{RGB}{242,142,0}
		\DeclareMathOperator{\Arcsinh}{arcsinh}
		\DeclareMathOperator{\Arctan}{arctan}
		\DeclareMathOperator{\arcosh}{arcosh}
		\newcommand\dd{{\mathrm d}}
		\newcommand{\bb}{{\mathbf b}}
		\newcommand{\bk}{{\mathbf k}}
		\newcommand{\bl}{{\mathbf l}}
		\newcommand{\bm}{{\mathbf m}}
		\newcommand{\bn}{{\mathbf n}}
		\newcommand{\bp}{{\mathbf p}}
		\newcommand{\bq}{{\mathbf q}}
		\newcommand{\br}{{\mathbf r}}
		\newcommand{\bw}{{\mathbf w}}
		\newcommand{\bx}{{\mathbf x}}
		\newcommand{\by}{{\mathbf y}}
		\newcommand{\bz}{{\mathbf z}}
		\newcommand\cO{\mathcal{O}}
		\newcommand{\cD}{\mathcal{D}}
		\newcommand\cA{\mathcal{A}}
		\newcommand\cM{\mathcal{M}}
		\newcommand\cN{\mathcal{N}}
		\newcommand\cE{\mathcal{E}}
		\newcommand\cS{\mathcal{S}}
		\newcommand\cP{\mathcal{P}}
		\newcommand\cF{\mathcal{F}}
		\newcommand\cL{\mathcal{L}}
		\newcommand\cH{\mathcal{H}}
		\newcommand\Mp{M_{\rm Pl}}
		$$
	  </p>
	</div>

	<div id="impress">

	  <div id="title" class="step" data-x="0" data-y="0">
		<h1>A Post-Minkowskian Framework and the Boundary-T<span class="orange">o</span>-Bound Dictionary for Gravitational Dynamics</h1>
		<p class="margin-bottom30">Work with Christoph Dlapa, Zhengwen Liu & Rafael Porto<br/>
		  <a href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008]</a>
		  <a href="http://arxiv.org/abs/arXiv:1911.09130">[1911.09130]</a>
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2006.01184">[2006.01184]</a>
		  <a href="http://arxiv.org/abs/arXiv:2007.04977">[2007.04977]</a>
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2008.06047">[2008.06047]</a>
		  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">[2106.XXXX]</a>
		</p>
		
		<img id="scatteringFig" src="figures/scattering.svg" alt="scattering">
		<img id="orbitFig" src="figures/orbit.svg" alt="orbit">
		
		<p id="author">
		  Gregor Kälin
		</p>

		
		<div class="margin-top50 margin-bottom30">
		  <img id="ercFig" src="figures/erc.svg" alt="erc">
		  <img id="desyFig" src="figures/logo_DESY.png" alt="desy">
		  <img id="euFig" src="figures/eu.svg" alt="eu">
		</div>
		
		<div>
		  <i>
			GGI 19.05.2021
		  </i>
		</div>
	  </div>

	  <div id="motivation" class="step" data-rel-x="1700" data-rel-to="title">
		<h2>M<span class="orange">o</span>tivation</h2>
		<p class="center">
		  <img id="gwFig" src="figures/gw_hamburg.png" alt="gwHamburg">
		</p>
	  </div>
	  
	  <div id="main" class="step" data-rel-x="1700" data-rel-to="motivation">
		<h2>Boundary-t<span class="orange">o</span>-Bound (B2B) Relations</h2>
		<p class="center">
		  <img id="mainFig" src="figures/main.svg" alt="scattering">
		</p>
	  </div>

	  <div id="pmeft" class="step" data-rel-x="1700" data-rel-to="Firsov1">
		<h2>A w<span class="orange">o</span>rldline action coupled to GR</h2>
		<a class="ref" href="https://www.ggi.infn.it/talkfiles/slides/slides5257.pdf">[Rafael's talk]</a>
		<ul>
		  <li>Purely <em>classical</em></li>
		  <li>We will use EFT methods: Full action \(\rightarrow\) effective action \(\rightarrow\) deflection/flux/waveform/...</li>
		  <li>Perturbative expansion in \(G\): can use particle physics/amplitudes toolbox</li>
		  <li>Can easily include: finite size, spin, \(n\)-body</li>
		</ul>
		<h3><span class="h3span">Full the<span class="orange">o</span>ry in-out</span></h3>
		<p class="center">
	      $$\begin{align}
		  S_{\rm EH} &= -2\Mp^2 \int \dd^4x \sqrt{-g} \, R[g]\\
		  S_{\rm pp} &= - \sum_a m_a \int \dd\sigma_a \sqrt{g_{\mu\nu}(x^\alpha_{a}(\sigma)) v_{a}^\mu(\sigma_a) v_{a}^\nu (\sigma_a)} + \dots\\
		  &\rightarrow -\sum_a \frac{m_a}{2} \int \dd\tau_a\,  g_{\mu\nu}(x_{a}(\tau_a)) v_{a}^\mu(\tau_a) v_{a}^\nu (\tau_a)+\dots
		  \end{align}$$
		</p>
	  </div>

	  <div id="rad" class="step" data-rel-x="0" data-rel-y="650">
		<h3><span class="h3span">The path to c<span class="orange">o</span>mplete \(\Delta p\) / \(\chi\): in-in</span></h2>
		<ul>
		  <li>To get correct boundary conditions (\(i0\) prescription for graviton propagators) we need to use the in-in formalism (doubling of fields)
			$$\begin{align}
			\cS[h_1,h_2] = \cS_\textrm{EH}[h_1] - \cS_\textrm{EH}[h_2] -\sum_{A=1}^2 \frac{\kappa m_A}{2}\int\dd\tau_A &\left[h_{1,\mu\nu}(x_{1,A}(\tau_A))\dot{x}_{1,A}^\mu(\tau_A)\dot{x}_{1,A}^\nu(\tau_A)\right.\\
			&\quad\left.-h_{2,\mu\nu}(x_{2,A}(\tau_A))\dot{x}_{2,A}^\mu(\tau_A)\dot{x}_{2,A}^\nu(\tau_A)\right]
			\end{align}
			$$
		  </li>
		  <li>Not as bad as it sounds, Keldysh variables clean up Feynman rules.</li>
		  <li>For 4PM conservative tail of RR the in-in formalism is not needed: In-out integrand with "self-energy" diagrams is sufficient (only two graviton lines go on-shell). We have this integrand.
		</ul>
	  </div>

	  <div id="pmeft2" class="step" data-rel-x="0" data-rel-y="700">
		<h3><span class="h3span">EFT acti<span class="orange">o</span>n</span></h3>
		<p class="centerLeft">
		  $$e^{i S_{\rm eff}[x_a] } = \int \cD h_{\mu\nu} \, e^{i S_{\rm EH}[h] + i S_{\rm GF}[h] + i S_{\rm pp}[x_a,h]}$$
		  <img id="graphsEFTFig" src="figures/graphsEFT.svg" alt="graphsEFT">
		</p>
		We optimized the EH-Lagrangian by cleverly chosing gauge-fixing terms and adding total derivatives:
		<ul>
		  <li>2-point Lagrangian: 2 terms</li>
		  <li>3-point Lagrangian: 6 terms</li>
		  <li>4-point Lagrangian: 18 terms</li>
		  <li>5-point Lagrangian: 36 terms</li>
		</ul>
		These numbers could even be further reduced by field redefinitions, but we don't want higher point WL-couplings. 
	  </div>

	  <div id="pmeft3" class="step" data-rel-x="0" data-rel-y="790">
		<h3><span class="h3span">PM deflecti<span class="orange">o</span>n</span></h3>
		In a Post-Minkowskian expansion:
		$$S_{\rm eff} = \sum_{n=0}^\infty \int \dd\tau_1\,G^n \cL_n [x_1(\tau_1),x_2(\tau_2)]$$
		with
		$$\cL_0 = - \frac{m_1}{2} \eta_{\mu\nu} v_1^\mu(\tau_1) v_1^\nu(\tau_1)$$
		E.o.m. from variation of the action
		$$-\eta^{\mu\nu}\frac{\dd}{\dd\tau_1} \left(\frac{\partial \cL_0}{\partial  v^\nu_1}\right) = m_1  \frac{\dd v_1^\mu}{\dd\tau_1}  = -\eta^{\mu\nu}\left(\sum_{n=1}^{\infty} \frac{\partial \cL_n}{\partial x^\nu_1(\tau_1)} - \frac{\dd}{\dd\tau_1} \left(\frac{\partial \cL_n}{\partial  v^\nu_1}\right)\right)$$
		allows us to compute the trajectories order by order:
		$$x^\mu_a(\tau_1) = b^\mu_a + u^\mu_a \tau_a + \sum_n G^n \delta^{(n)} x^\mu_a (\tau_a)$$
		with \(b=b_1-b_2\) the impact parameter and \(u_a\) the incoming velocty at infinity, fulfilling
		$$u_1\cdot u_2 = \gamma\,, \quad u_a\cdot b = 0\,.$$
	  </div>

	  <div id="pmeft4" class="step" data-rel-x="0" data-rel-y="750">
		<h3><span class="h3span">Scattering angle<span class="orange">.</span></span></h3>
		First we compute the deflection using above trajectories:
		$$\Delta p^\mu_1= m_1\Delta v^\mu_1 = - \eta^{\mu\nu} \sum_n \int_{-\infty}^{+\infty} \dd\tau_1 {\partial \cL_n  \over\partial x^\nu_1}\,,$$
		
		Physical scattering angle is then simply
		$$2\sin\left(\frac{\chi}{2}\right)  = \frac{|\Delta \bp_{1{\rm cm}} |}{p_\infty} \overset{\text{cons.}}{=} \frac{\sqrt{-\Delta p_1^2}}{p_\infty}$$
		<p class="center">
		<img id="scatteringFig" src="figures/scattering.svg" alt="scattering"/>
		</p>
	  </div>

	  <div id="Dpres" class="step" data-rel-x="0" data-rel-y="790">
		<h3><span class="h3span">Results in the potential regi<span class="orange">o</span>n</span></h3>
		<span class="ref">[2106.XXXX Dlapa, GK, Liu, Porto]</span>
		<a class="ref" href="https://arxiv.org/pdf/2007.04977.pdf">[GK, Liu, Porto 20]</a>
		<br/>
		<p>
		  $$\frac{\chi}{2} = \sum_{n=1} \chi^{(n)}_b \left(\frac{GM}{b}\right)^n $$
		</p>		
		Up to 4PM, agreeing with <a class="refInline" href="https://link.springer.com/article/10.1007%2FBF02817047">[Westpfahl, Goller 79]</a><a class="refInline" href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.122.201603">[BCRSSZ 18/19]</a> <a class="refInline" href="https://arxiv.org/pdf/2101.07254.pdf">[BPRRSSZ 21]</a>:
		$$\begin{align}
		\frac{\chi^{(1)}_b}{\Gamma} &= \frac{2\gamma^2-1}{\gamma^2-1}\\
		\frac{\chi^{(2)}_b}{\Gamma} &= \frac{3\pi}{8} \frac{5\gamma^2-1}{\gamma^2-1}\\
		\frac{\chi^{(3)}_b}{\Gamma} &= \frac{1}{(\gamma^2-1)^{3/2}}\Bigg[-\frac{4\nu}{3} \gamma\sqrt{\gamma^2-1}(14\gamma^2+25)\frac{(64\gamma^6-120\gamma^4+60\gamma^2-5)(1+2\nu(\gamma-1))}{3(\gamma^2-1)^{3/2}}\\
		&\quad-  8\nu (4\gamma^4-12\gamma^2-3)\Arcsinh\sqrt{\frac{\gamma-1}{2}}\,\Bigg]
		\end{align}$$
		with \(\gamma = u_1\cdot u_2\), \(\Gamma=\sqrt{1+2\nu(\gamma-1)}\), \(\nu=m_1m_2/M^2\), \(\gamma=(1+x^2)/(2x)\)
	  </div>

	  <div id="Dpres4" class="step" data-rel-x="0" data-rel-y="780">
		<h3><span class="h3span">4PM result in the potential regi<span class="orange">o</span>n</span></h3>
		<img id="res4PMFig" src="figures/res4PM.svg" alt="res4PM">
	  </div>

	  <div id="rad2" class="step" data-rel-x="0" data-rel-y="750">
		<h3><span class="h3span">C<span class="orange">o</span>mpleting 4PM: What's next</span></h3>
		<ul>
		  <li>For the conservative RR tail we have the integrand. We do not expect new integrals. And even if, then not elliptic \(=\) easy! (no \(\pi^3\) in PN tail). We are putting it together now!</li>
		  <li>In-in integrands are straightforwardly obtained. Automated code will give us full 4PM integrand soon.</li>
		  <li>Strategies to get the soft boundary conditions have been worked out @3PM <span class="refInline">[Di Vecchia, Heissenberg, Russo, Veneziano 21; Herrmann, Parra-Martinez, Ruf, Zeng 21]</span><span class="refInline">[Mao's, Carlo's and Michael's talk]</span>. We expect that they also apply @4PM.
		  <li>In-in: We are gonna get retarded/advanced propagators: Breaks \(\ell\rightarrow-\ell\) symmetry of propagators which is helpful when relating integrals (i.e. we will get more master integrals).</li>
		  <li>\(u_a^\mu\) contributions cannot be bootstrapped anymore due to dissipative effects: More integrals.</li>
		</ul>
	  </div>

	  <div id="int1" class="step" data-rel-x="1700" data-rel-to="pmeft">
		<h2>Integrati<span class="orange">o</span>n</h2>
		Generic structure to any loop order (potential + radiation):
		$$
		\int \dd^Dq\frac{\delta(q\cdot u_1)\delta(q\cdot u_2)e^{i b\cdot q}}{(q^2)^m}
		\underbrace{\int \dd^D\ell_1\cdots\dd^D\ell_L\frac{\delta(\ell_1\cdot u_{a_1})\cdots\delta(\ell_L\cdot u_{a_L})}{(\ell_1\cdot u_{b_1}\pm i0)^{i_1}\cdots(\ell_L\cdot u_{b_L}\pm i0)^{i_L}(\textrm{sq. props})}}_{\textrm{Cut Feynman integrals with linear and square propagators}}
		$$
		<ul>
		  <li>Immediately land on <em>soft</em>, classical, single scale integrals. No expansion needed.</li>
		  <li>Use modern amplitudes methods <span class="refInline">[Mao's + Michael's talk]</span></li>
		  <li>One delta function per loop \(\rightarrow\) half of the linear WL propagators are cut</li>
		  <li>@3PM: One single family + \(i0^+\) prescription for linear propagators. We have solved the DEQs for all \(\sim20\) master integrals (including those appearing for dissipative and spin effects).</li>
		  <li>@4PM: Only two families of square propagators + \(i0^+\) prescription for linear propagators.</li>
		</ul>
	  </div>

	  <div id="int2" class="step" data-rel-y="780" data-rel-x="0">
		<h3><span class="h3span">Strategy <span class="orange">@</span> 4PM</span></h3>
		<img id="integrationFig" src="figures/integration.svg" alt="integration">
	  </div>

	  <div id="int3" class="step" data-rel-y="840" data-rel-x="0">
		<h3><span class="h3span">S<span class="orange">o</span>me interesting features</span></h3>
		<ul>
		  <li>We solve all integrals to needed order in \(\epsilon\), all orders in \(v\). No resummation!
		  <li>Precanonical form is sufficient for blocks containing elliptic integrals. The \(\cO(\epsilon^0)\) DEQ can be solved for diagonal elements: 3x3 elliptic blocks \(\rightarrow\) 3rd order differential equation which is solved by a quadratic expression in terms of complete elliptic integrals. Off-diagonal integrals can then be solved order by order in \(\epsilon\).</li>
		  <li>This induces iterated elliptic integrals, e.g.
			$$\int_0^x \dd x\frac{8 \left(x^2 K\left(1-x^2\right)^2-x^2-E\left(1-x^2\right)^2+1\right)}{x \left(x^2-1\right)}=-8 \left(K\left(1-x^2\right) E\left(1-x^2\right)+\log \left(\frac{x}{4}\right)\right)$$
			Fortunately, all that were needed can be evaluated in terms of elliptic integrals.
		  </li>
		  <li>Because of unphysical \(1/\epsilon\) pole we need to expand the integrand up to \(\cO(\epsilon)\) to match BPRRSSZ</li>
		  <ul>
			<li>Overkill! Should not be necessary. Tail contributions will kill the pole and such unphysical contributions.</li>
		  </ul>
		  <li>Schwarzschild contributions are known to all order. Could be used to constrain boundary conditions.</li>
		</ul>
	  </div>

	  <div id="B2B" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="int1">
		<h2>Boundary-T<span class="orange">o</span>-Bound (B2B) Dictionary</h2>
		<a class="ref" href="http://arxiv.org/abs/arXiv:1911.09130">[1911.09130, w/ Porto]</a>
		<a class="ref" href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008, w/ Porto]</a>
		<br/>
		Conservative motion described by a Hamiltonian:
		$$H(\bp,r) = E \quad \Longrightarrow \quad \bp(r,E)$$
		<div class="center">
		  <img id="scatteringFig" src="figures/scattering.svg" alt="scattering">
		  vs.
		  <img id="orbitFig" src="figures/orbit.svg" alt="orbit">
		</div>
		<ul>
		  <li>Scattering: \(r_\textrm{min}=\tilde{r}_-\) is the positive real root of \(p_r\): \(p_r^2(r,E)=\bp^2(r,E)-(p_\infty b)^2/r^2\) for positive binding energy.</li>
		  <li>Bound: \(r_\pm\) are positive real roots of \(p_r\): \(p_r^2(r,E)=\bp^2(r,E)-J^2/r^2\) for negative binding energy.</li>
		</ul>
		Using \(J=p_\infty b\), we have shown that the radii are related by an analytic continuation 
		$$\begin{align*}
		r_-(J) &= r_{\textrm{min}}(b)\\
		r_+(J) &= r_-(-J) = r_{\textrm{min}}(-b)
		\end{align*}$$
		with \(b\in i\mathbb{R}\) for bound kinematics \(p_\infty^2\leq0\).
	  </div>
	  
	  <div id="B2B2" class="step" data-rel-x="0" data-rel-y="720">
		<h3><span class="h3span">Angle to <span class="orange">o</span>rbital Elements: Firsov</span></h3>
		<a class="ref" href="http://arxiv.org/abs/arXiv:1911.09130">[1911.09130, w/ Porto]</a>
		<a class="ref" href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008, w/ Porto]</a>
		<br/>
		The scattering angle contains all the information.
		$$r_{\textrm{min}} \overset{\textrm{Firsov}}{=}  b \exp\left[ -\frac{1}{\pi} \int_{b}^\infty \frac{\chi(\tilde b,E)\dd\tilde b}{\sqrt{\tilde b^2-b^2}}\right]
		=b \prod_{n=1}^\infty e^{-\frac{(GM)^n\chi_b^{(n)}(E)\Gamma\left(\frac{n}{2}\right)}{b^n\sqrt{\pi}\Gamma\left(\frac{n+1}{2}\right)}}$$
		with 
		$$\frac{\chi}{2} = \sum_{n=1} \chi^{(n)}_b \left(\frac{GM}{b}\right)^n $$		
	  </div>
	  
	  <div id="B2B3" class="step" data-rel-x="0" data-rel-y="580">
		<h3><span class="h3span">Angle to periastr<span class="orange">o</span>n advance</span></h3>
		<a class="ref" href="http://arxiv.org/abs/arXiv:1911.09130">[1911.09130, w/ Porto]</a>
		<a class="ref" href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008, w/ Porto]</a>
		Scattering angle:
		$$\chi(b,E) +\pi = 2b \int_{r_{\rm min}}^\infty \frac{\dd r}{r\sqrt{r^2\bar\bp^2(r,E)-b^2}}$$
		with 
		<br/>
		Periastron advance:
		$$\Delta \Phi + 2\pi =  2J \int_{r_-}^{r_+} \frac{\dd r}{r\sqrt{r^2\bp^2(r,E)-J^2}}$$
		Don't forget: \(J=p_\infty b\), \(\bar\bp = \bp/p_\infty\).
	  </div>
	  
	  <div id="B2B4" class="step" data-rel-x="0" data-rel-y="0">
		<span id="rP" class="vanishPast">\(\textcolor{desyOrange}{\tiny r_\textrm{min}(-J)}\)</span>
		<span id="rM" class="vanishPast">\(\textcolor{desyOrange}{\tiny r_\textrm{min}(J)}\)</span>
		<span id="intPeriastron" class="vanishPast">
		  $$\begin{align}
		  &=2J \int_{r_\textrm{min}(J)}^{\infty} \frac{\dd r}{r\sqrt{r^2\bp^2(r,E)-J^2}}\\
		  &\quad-2J \int_{r_\textrm{min}(-J)}^{\infty} \frac{\dd r}{r\sqrt{r^2\bp^2(r,E)-J^2}}\\
		  &=\chi(J,E)+\chi(-J,E)+2\pi
		  \end{align}$$
		  </span>
	  </div>

	  <div id="B2B5" class="step" data-rel-x="0" data-rel-y="790">
		<h3><span class="h3span">Angle to radial acti<span class="orange">o</span>n</span></h3>
		<a class="ref" href="http://arxiv.org/abs/arXiv:1911.09130">[1911.09130, w/ Porto]</a>
		<a class="ref" href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008, w/ Porto]</a>
		<br/>
		We can get the radial action from the angle by integrating
		$$\chi(J,E) = \frac{\dd}{\dd J} \cS_r^\text{hyp}(J,E)$$
		The radial action for hyperbolic and elliptic motion are themselves related by a similar analytic continuation
		$$(G M \mu) i_r^\text{hyp}(J,E) = \cS_r^\text{hyp}(J,E) = \frac{2}{2 \pi}\int_{r_\text{min}(J,E)}^\infty p_r(J,E,r)\dd r$$
		$$(G M \mu) i_r^\text{ell}(J,E) = \cS_r^\text{ell}(J,E) = \frac{2}{\pi}\int_{r_-(J,E)}^{r_+(J,E)} p_r(J,E,r)\dd r$$
		$$\Rightarrow i_r^\text{ell}(J)=i_r^\text{hyp}(J)- i_r^\text{hyp}(-J)$$
		In PM expanded form:
		$$
		i_r^\text{ell}(j,\cE) \equiv \frac{{\cal S}_r}{GM\mu} =  {\rm sg}(\hat p_\infty)\chi^{(1)}_j(\cE) - j \left(1 + \frac{2}{\pi} \sum_{n=1}  \frac{\chi^{(2n)}_j({\cE})}{(1-2n)j^{2n}}\right)
		$$
	  </div>

	  <div id="alignSpin" class="step" data-rel-x="0" data-rel-y="680">
		<h3><span class="h3span">Analytic continuation for aligned spins<span class="orange">.</span></span></h3>
		<a class="ref" href="http://arxiv.org/abs/arXiv:1911.09130">[1911.09130, w/ Porto]</a>
		Works for aligned spin. Motion is still in a plane!
		<div class="center">
		<div class="centerBox">
		  $$\frac{\chi(J,\cE)+\chi(-J,\cE)}{2\pi} = \frac{\Delta\Phi(J,\cE)}{2\pi}$$
		  <p class="center small">
			where \(J\) is now the <em>total</em> the total angular momentum, i.e. orbital angular momentum + spins.
		  </p>
		</div>
		</div>
		<ul>
		  <li>Explicit checks for known PN and PM results work neatly!</li>
		  <li>Relies on the invariance of the (canonical) radial momentum \(p_r\) under \(J\rightarrow -J\), which is true for a quasi-isotropic gauge (given to us automatically by the amplitudes construction).</li>
		</ul>
	  </div>

	  <div id="Firsov1" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="B2B">
		<h2>PM to PN: The Magic of Firsov</h2>
		<img id="firsovFig" src="figures/Firsov.jpg" alt="firsov">
		Let's consider a simple example
		$${\Delta \Phi}(j,\cE)= \sum_{n=1} \Delta \Phi_j^{(2n)}(\cE)/j^{2n}$$
		with \(j=J/(G M \mu)\). We just established
		$$\Delta \Phi_j^{(2n)}(\cE)= 4\, \chi^{(2n)}_j(\cE)$$
		Let's assume we don't know anything about \(\chi^{(4)}_j\). Does this mean we don't know anything about \(\Delta \Phi_j^{(4)}\)? There's lot of lower PN information that our PM results up to \(\chi_j^{(3)}\) should contain. Where are they?
	  </div>
	  
	  <div id="Firsov2" class="step" data-rel-x="0" data-rel-y="680">
		<h3><span class="h3span">Firs<span class="orange">o</span>v's formula</span></h3>
		Let us invert
		$$\chi(b,E) = -\pi + 2b \int_{r_{\rm min}}^\infty \frac{\dd r}{r\sqrt{r^2\bar\bp^2(r,E)-b^2}} = \sum_{n=1} \chi^{(n)}_b(E) \left(\frac{GM}{b}\right)^n $$
		<a class="inlineRef" href="">[Firsov '53]</a>: dependence on \(r_\textrm{min}\) drops out
		<div class="center"><div class="centerBox">
			$$\bar\bp^2(r,E) = \exp\left[ \frac{2}{\pi} \int_{r|\bar{\bp}(r,E)|}^\infty \frac{\chi(\tilde b,E)\dd\tilde b}{\sqrt{\tilde b^2-r^2\bar\bp^2(r,E)}}\right] = 1 + \sum_{n=1}^\infty f_n(E) \left(\frac{GM}{r}\right)^n$$
		</div></div>
		These integrals are easy to perform in a PM-expanded form and one finds:
		$$\chi_b^{(n)} = \frac{\sqrt{\pi}}{2} \Gamma\left(\frac{n+1}{2}\right)\sum_{\sigma\in\mathcal{P}(n)}\frac{1}{\Gamma\left(1+\frac{n}{2} -\Sigma^\ell\right)}\prod_{\ell} \frac{f_{\sigma_{\ell}}^{\sigma^{\ell}}}{\sigma^{\ell}!}$$
		The inversion thereof also exists.
	  </div>

	  <div id="Firsov3" class="step" data-rel-x="0" data-rel-y="650">
		<h3><span class="h3span">Back to our pr<span class="orange">o</span>blem</span></h3>
		$$\frac{1}{4}\Delta \Phi_j^{(4)}= \chi^{(4)}_j = \left(\frac{p_\infty}{\mu}\right)^4\chi_b^{(4)}=\left(\frac{p_\infty}{\mu}\right)^4\frac{3\pi}{16}(2f_1f_3+f_2^2+2f_4)$$
		and in turn
		$$\begin{align}
		f_1&=2\chi_b^{(1)}\\
		f_2&=\frac{4}{\pi}\chi_b^{(2)}\\
		f_3&=\frac{1}{3}\left(\chi_b^{(1)}\right)^3+\frac{4}{\pi}\chi_b^{(1)}\chi_b^{(2)}+\chi_b^{(3)}
		\end{align}$$
		Prefectly reproduces 1 and 2PN information at order \(j^{-4}\).
	  </div>
	  
	  <div id="Firsov4" class="step" data-rel-x="0" data-rel-y="670">
		<h3><span class="h3span">Generalization for l<span class="orange">o</span>gs and poles</span></h3>
		Pulling out some \((\dots)^\epsilon\) <a class="ref" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">[2106.XXXX Dlapa, GK, Liu, Porto]</a>
		$$\begin{align}
		\bp^2(r,E) &= p_\infty^2(E)\left[1+\sum_{n=1}^\infty f_n(E)\left(\frac{G M}{r}\right)^nr^{2n\epsilon}\right]\\
		\frac{1}{2}\chi(b,E) &= \sum_{n=1}^\infty \left[\chi_b^{(n)}(E)\left(\frac{GM}{b}\right)^n b^{2n\epsilon}\right]
		\end{align}$$
		allows us easily generalize
		$$f_n = \sum_{\sigma\in\cP(n)}g_\sigma^{(n)}\prod_\ell \left(\hat{\chi}_b^{(\sigma_\ell)}\right)^{\sigma^\ell}$$
		with
		$$\begin{align}
		\hat{\chi}_b^{(n)} &= \frac{2}{\sqrt{\pi}}\frac{\Gamma\left(\frac{n(1-2\epsilon)}{2}\right)}{\Gamma\left(\frac{n(1-2\epsilon)+1}{2}\right)}\chi_b^{(n)}\,, & g_\sigma^{(n)} &= \frac{2(2-n(1-2\epsilon))^{\Sigma_\sigma}}{\prod_l(2\sigma^\ell)!!}\end{align}$$
	  </div>
	  <div id="Firsov5" class="step" data-rel-x="0" data-rel-y="700">
		<hr/>
		Explicitly
		$$\begin{align}
		f_1 &= \frac{2 \Gamma \left(\frac{1}{2}-\epsilon \right)}{\sqrt{\pi } \Gamma (1-\epsilon )}\chi_b^{(1)}\\
		f_2 &= \frac{4  \epsilon  \Gamma \left(\frac{1}{2}-\epsilon \right)^2}{\pi  \Gamma (1-\epsilon )^2}\left(\chi_b^{(1)}\right)^2
		+\frac{2 \Gamma (1-2 \epsilon )}{\sqrt{\pi } \Gamma \left(\frac{3}{2}-2 \epsilon \right)}\chi_b^{(2)}\\    
		f_3 &= \frac{(1-6 \epsilon )^2 \Gamma \left(\frac{1}{2}-\epsilon \right)^3}{3 \pi ^{3/2} \Gamma (1-\epsilon )^3}\left(\chi_b^{(1)}\right)^3
		+\frac{2  (6 \epsilon -1) \Gamma (1-2 \epsilon ) \Gamma \left(\frac{1}{2}-\epsilon \right)}{\pi  \Gamma \left(\frac{3}{2}-2 \epsilon \right) \Gamma (1-\epsilon )}\chi_b^{(1)} \chi_b^{(2)}
		+\frac{2 \Gamma \left(\frac{3}{2}-3 \epsilon \right)}{\sqrt{\pi } \Gamma (2-3 \epsilon )}\chi_b^{(3)}\\
		f_4 &= \frac{2 (4 \epsilon -1)^3 \Gamma \left(\frac{1}{2}-\epsilon \right)^4}{3 \pi ^2 \Gamma (1-\epsilon )^4}\left(\chi_b^{(1)}\right)^4
		+\frac{(2-8 \epsilon )^2 \Gamma (1-2 \epsilon ) \Gamma  \left(\frac{1}{2}-\epsilon \right)^2}{\pi ^{3/2} \Gamma \left(\frac{3}{2}-2 \epsilon \right) \Gamma (1-\epsilon )^2}\left(\chi_b^{(1)}\right)^2 \chi_b^{(2)}\\
		&\quad+\frac{4 (4 \epsilon -1) \Gamma \left(\frac{3}{2}-3 \epsilon \right) \Gamma   \left(\frac{1}{2}-\epsilon \right)}{\pi  \Gamma (2-3 \epsilon ) \Gamma (1-\epsilon )}\chi_b^{(1)} \chi_b^{(3)}
		+\frac{2  \Gamma (2-4 \epsilon )}{\sqrt{\pi } \Gamma \left(\frac{5}{2}-4 \epsilon \right)}\chi_b^{(4)}
		+\frac{ (8 \epsilon -2) \Gamma (1-2 \epsilon )^2}{\pi  \Gamma \left(\frac{3}{2}-2 \epsilon \right)^2}\left(\chi_b^{(2)}\right)^2
		\end{align}$$
	  </div>

	  <div id="Hamiltonian" class="step" data-rel-x="0" data-rel-y="600">
		<h3><span class="h3span">Hamilt<span class="orange">o</span>nian</span></h3>
		<ul>
		  <li>The effective potential for the two-body Hamiltonian is simple to obtain from the scattering angle/momentum along the trajectory.
		  <li>Our formula for the \(c_n(\bp^2)\) coefficient for the potential in <a class="inlineRef" href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008, w/ Porto]</a> still holds for log/poles.</li>
		  <li>We explicitly checked the \(c_4(\bp^2)\) coefficient in BPRRSSZ obtained from the scattering angle with the above formulae.</li>
		</ul>
	  </div>
	  
	  <div id="conclusions" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="Firsov1">
		<h2>Conclusi<span class="orange">o</span>ns</h2>
		<ul>
		  <li>PMEFT+B2B: systematic and efficient framework to study the classical gravitational 2-body dynamics.</li>
		  <li>Modern integration techniques can handle all the integrals we have found. No resummation needed.</li>
		  <li>We have obtained the potential contributions @4PM. More to come soon.</li>
		  <li>We are creating artificial problems by splitting into potential+radiation. Computationally there are reasons for this split, but we need to be careful to not overcomplicate our lives. It also complicates comparisons among different approaches and limits.</li>
		  <li>Firsov's formula is bridging \(\chi\leftrightarrow \bp^2 \leftrightarrow \cH\) and \(\text{PN}\leftrightarrow\text{PM}\).
		</ul>
		
	  </div>

	  <div id="outlook" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Outlo<span class="orange">o</span>k</h2>
		<ul>
		  <li>We have not reached any tool's maximal capacity. 4PM can be performed on a desktop computer.</li>
		  <li>First priority: complete 4PM: Tail, dissipative effects.</li>
		  <li>Iterated elliptic integrals need to be understood better.</li>
		  <li>Study B2B for arbitrary spin and dissipative effects.</li>
		</ul>
	  </div>

	  <div id="final" class="step" data-rel-x="0" data-rel-y="660">
		<p class="center">
		  <img id="mainFig" src="figures/main.svg" alt="scattering">
		</p>
		<p class="small">
		  This research is supported by the ERC-CoG “Precision Gravity: From the LHC to LISA” provided by the European Research Council (ERC) under the European Union’s H2020 research and innovation programme (grant No. 817791), by the DFG under Germany’s Excellence Strategy ‘Quantum Universe’ (No. 390833306).
		</p>
	  </div>
	  
  	</div>

	<div id="impress-toolbar"></div>

	<!--
	<div class="hint">
      <p>Use a spacebar or arrow keys to navigate. <br/>
		Press 'P' to launch speaker console.</p>
	</div>
	-->
	<script>
	  if ("ontouchstart" in document.documentElement) { 
		  document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>";
	  }
	  </script>

	<script src="js/impress.js"></script>
	<script>impress().init();</script>

	<script type="text/javascript">
	  //play and pause video when entering and leaving slide
	  const vid = document.querySelector('video');
	  const vidSlide = document.getElementById('mergerClip');

	  //which mutations to observe
	  const config = {attributes: true};

	  function playVid() {
		  vid.play();
	  };
	  function stopVid() {
		  vid.pause();
		  vid.currentTime = 0;
	  };

	  //handle the class attribute change of the 
	  const callback = function(mutationsList, observer) {
		  for (let mutation of mutationsList) {
			  if (mutation.type == 'attributes' && mutation.attributeName == 'class') {
				  if (mutation.target.classList.contains('active')) {
					  playVid();
				  } else {
					  stopVid();
				  }
			  }
		  }
	  };

	  const observer = new MutationObserver(callback);

	  observer.observe(vidSlide, config);
	</script>

  </body>
</html>
